[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "htmlwidgets"]
	path = htmlwidgets
	url = https://github.com/ramnathv/htmlwidgets
	shallow = true
	registered = true
[submodule "htmltools"]
	path = htmltools
	url = https://github.com/rstudio/htmltools
	shallow = true
	registered = false
